.date {
    margin-top: 1rem;
}

.date__text {
    margin: 0;
    display: inline-block;
    margin-left: 1rem;
}

.date__icon {
    display: inline-block;
    font-size: 1.2rem;
    background-color: var(--c-bg-secondary);
    padding: .3em;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}

.date-picker {
    position: absolute;
    z-index: 1000;
    padding: 1em;
    display: none;
    min-width: 300px;
    max-width: 400px;
    margin-top: .5rem;
    border: solid 1px var(--c-accent);
}

.date-picker.date-picker--active {
    display: block;
}

.date-picker__input {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1rem;
}

.date-picker__actions {
    display: flex;
    justify-content: start;
    gap: 1rem;
}

.calories {
    margin: 1rem 0 2rem 0;
    padding: 1em;
    position: relative;
}

.calories__text {
    margin: 0;
    margin-bottom: 1rem;
}

.calories__text-secondary {
    margin: 0;
    margin-bottom: 1rem;
    color: var(--c-text-secondary);
}

.calories__settings {
    font-size: 1rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: .4em;
    border-radius: 8px;
    border: solid 2px var(--c-accent);;
}

.calories__progress {
    width: 300px;
    height: 150px; 
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border: 20px solid red;
    border-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin: auto;
}

.food-list {
    margin: .5rem 0 0 0;
}

.food-item {
    padding: 1em 1em;
    border-bottom: 1px var(--c-accent) solid;
    display: flex;
    justify-content: space-between;
}

.food-item__calories {
    font-weight: 700;
    margin-right: .5rem;
}

.food-item:last-child {
    border: 0;
}

.food-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.food-header__text {
    margin: 0;
}

@media(min-width: 1000px) {
    .calories-page {
        max-width: 800px;
        margin: auto;
    }
}
