.calories-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calories-date__heading {
    margin: 0;
}

.btn-icon {
    padding: .5em;
    border: 0;
    border-radius: 8px;
}

.card {
    background-color: var(--c-bg-secondary);
    border-radius:8px;
    padding: 1em;
}

.card__heading {
    margin: 2rem 0 .5rem 0; 
}

.calories-info__text {
    margin: 0;
}

.calories-info {
    margin-top: 2rem;
    text-align: center;
}

.calories-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.calories-list__item {
    padding: .5em 1em;
    border-bottom: solid 1px var(--c-text-secondary);
}

.calories-list__item:last-child {
    border: none;
}
