.wrapper {
	min-height: 100vh;
}

.app-nav {
	padding: 1em;
}

.content {
	background-color: var(--c-bg-primary);
	padding: 1em;
	flex-grow: 1;
}

.logo {
	font-size: 2rem;
	font-weight: bold;
}

.nav-link {
	display: block;
	margin-bottom: 1rem;
	text-decoration: none;
	color: var(--c-text);
}

.side-nav {
	margin-top: 1rem;
}
.app-header {
	display: flex;
	justify-content: space-between;
}