@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

:root {
	--c-bg-primary: #f4f3ef;
	--c-bg-secondary: WHITE;
	--c-primary: #FF7900;
	--c-accent: #CBCBCB;
	--c-secondary: #CBCBCB;
	--c-text: black;
	--c-text-2: white;
	--c-text-secondary: #797979;
}

*, *:after, *:before {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	margin: 0;
	font-family: "Ubuntu", sans-serif;
	background-color: var(--c-bg-primary);
	color: var(--c-text);
} 

a {
	text-decoration: none;
	color: var(--c-text);
}

ul {
	list-style: none;
	padding: 0;
}

h1 {
	font-size: 2rem;
	margin: 0;
}

h2 {
	font-size: 1.5rem;
	margin: 0;
}

h3 {
	font-size: 1.2 rem;
	margin: 0;
}

/* FORM */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.input {
    padding: .8em;
    border-radius: 12px;
    border: 1px solid var(--c-accent);
    outline: none;
    font-size: 1rem;
}

.form__error {
	color: red;
	padding: 1em;
	background-color: lightcoral;
	border-radius: 12px;
	margin: 1rem 0;
}

.form-group label{
    display: block;
    margin-bottom: .5rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group input {
	width: 100%;
}

.form-group__error {
	color: red;
	margin-top: .5rem;
}

.form__actions {
    display: flex;
    justify-content: start;
    gap: 1rem;
    margin-top: 2rem;
}


.form__title {
    margin-bottom: 1rem;
}

/* BUTTON */
.btn {
    border: 0;
    border-radius: 12px;
    padding: .5em 1em;
    font-size: 1rem;
    cursor: pointer;
}

.btn--primary {
    background-color: var(--c-primary);
    color: var(--c-text-2);
}

.btn--secondary {
    background-color: var(--c-secondary);
    color: var(--c-text);
}

.btn--large {
	font-size: 1.2rem;
}

/* Link */
.link {
	text-decoration: underline;
	color: var(--c-primary)
}

/* BRANDING */
.logo {
    font-size: 2rem;
    font-style: italic;
}

.logo--primary {
    color: var(--c-primary);
}

/* CARDS */
.card {
    background-color: var(--c-bg-secondary);
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}