:root {
	--c-bg-primary: lightgray;
	--c-bg-secondary: white;
	--c-text: black;
}

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

*, *:after, *before {
	box-sizing: border-box;
}

body {
	margin: 0;
	color: var(--c-text);
} 

.page-heading {
	margin: 0;
}

