@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

:root {
	--c-bg-primary: #bddcfc;
	--c-bg-secondary: white;
}

*, *:after, *:before {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	background-color: var(--c-bg-primary);
} 

