@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

:root {
	--c-bg-primary: #f4f3ef;
	--c-bg-secondary: WHITE;
	--c-primary: #FF7900;
	--c-accent: #CBCBCB;
	--c-secondary: #CBCBCB;
	--c-text: black;
	--c-text-2: white;
	--c-text-secondary: #797979;
}

*, *:after, *:before {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Ubuntu", sans-serif;
	background-color: var(--c-bg-primary);
	color: var(--c-text);
} 

a {
	text-decoration: none;
	color: var(--c-text);
}

ul {
	list-style: none;
	padding: 0;
}

/* UTILITY */
.d-none {
	display: none;
}
