.logo {
    font-size: 2rem;
}

.nav {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.nav__icon {
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.nav__wrapper {
    padding: 1em;
    background-color: var(--c-bg-secondary);
}

.nav--hide {
    display: none;
}

.main-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-layout__content {
    padding: 1em;
    flex-grow: 1;
}

@media (min-width: 1000px) {
    .nav__icon {
        display: none;
    }

    .nav--hide, nav {
        display: flex;
        flex-direction: column;
    }

    .nav__wrapper {
        min-width: 200px;
        height: 100vh;
    }

    .main-layout {
        display: flex;
        flex-direction: row;
    }
}