.app-layout {
    min-height: 100vh;
}

.app-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--c-bg-secondary);
    padding: 1em;
    border-radius: 24px 24px 0 0;
    display: flex;
    justify-content: space-between;
}

.app-nav__link {
    color: #6A89A7;
    text-decoration: none;
}

.app-nav__link--active {
    color: #384959;
    text-decoration: none;
}

.nav-icon {
    display: block;
    text-align: center;
}