.auth-layout {
    width: 100vw;
    height: 100vh;
}

.auth-layout__content {
    padding: 3em 1em 1em 1em;
}

.auth-nav {
    padding: 1em;
    width: 100%;
    background-color: var(--c-bg-secondary);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}